language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm
  - nightly

before_install:
  - composer self-update

install: composer install --prefer-source --dev

script: phpunit -c phpunit.xml.dist
